html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

h1 {
  font-size: 4rem;
  margin: 30px auto;
}

.container1 {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: fixed;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  top: 50%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cube1 {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-15deg) rotateY(-20deg) translateZ(-100px);
  transform: rotateX(-15deg) rotateY(-20deg) translateZ(-100px);
  -webkit-transform-origin: center center -100px;
  transform-origin: center center -100px;
  -webkit-animation: around1 5s cubic-bezier(0.94, -0.6, 0.45, 1.31) infinite;
  animation: around1 5s cubic-bezier(0.94, -0.6, 0.45, 1.31) infinite;
}
.cube1 div {
  width: 195px;
  height: 195px;
  display: block;
  margin: 0;
  position: absolute;
}
.cube1 div a {
  color: white;
  font-size: 8em;
  text-decoration: none;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cube1 .front1 {
  -webkit-transform: rotateY(0deg) translateZ(100px);
  transform: rotateY(0deg) translateZ(100px);
  background-color: rgba(0, 191, 255, 0.7);
  border: 2px solid rgba(0, 191, 255, 0.7);
}
.cube1 .back1 {
  -webkit-transform: rotateX(180deg) translateZ(100px);
  transform: rotateX(180deg) translateZ(100px);
  background-color: rgba(124, 252, 0, 0.7);
  border: 2px solid rgba(124, 252, 0, 0.7);
}
.cube1 .left1 {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  transform: rotateY(-90deg) translateZ(100px);
  background-color: rgba(255, 215, 0, 0.7);
  border: 2px solid rgba(255, 215, 0, 0.7);
}
.cube1 .right1 {
  -webkit-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
  background-color: rgba(255, 69, 0, 0.7);
  border: 2px solid rgba(255, 69, 0, 0.7);
}
.cube1 .top1 {
  -webkit-transform: rotateX(90deg) translateZ(100px);
  transform: rotateX(90deg) translateZ(100px);
  background-color: rgba(255, 0, 157, 0.7);
  border: 2px solid rgba(255, 0, 157, 0.7);
}
.cube1 .bottom1 {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
  transform: rotateX(-90deg) translateZ(100px);
  background-color: rgba(184, 111, 220, 0.7);
  border: 2px solid rgba(184, 111, 220, 0.7);
}

/*atas ke bawah*/
@-webkit-keyframes around1 {
  100% {
    -webkit-transform: rotateX(-380deg) rotateY(-15deg) translateZ(-100px);
    transform: rotateX(-380deg) rotateY(-15deg) translateZ(-100px);
  }
}




@keyframes around1 {
  100% {
    -webkit-transform: rotateX(-380deg) rotateY(-15deg) translateZ(-100px);
    ransform: rotateX(-380deg) rotateY(-15deg) translateZ(-100px);
  }
}